
a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: $primary_font;
    line-height: 1;
    color: $text_color;
    font-size: 1.4rem;
}

input,button {
    font-family: $primary_font;
    line-height: 1;
    outline: none;
}
button {
    cursor: pointer;
}

