.people {
    padding: 10rem 0 3rem;
    background: linear-gradient(to bottom, rgba(white, 0.8) , rgba(white, 0.9)), url("../images/people.jpg") no-repeat center / cover;
    &-list {
        @include flexbox(stretch, space-between, row, wrap);
        margin-top: 9rem;
        padding: 0 4rem;
    }
    &-item {
        width: calc(50% - 4rem);
        margin-bottom: 7rem;
        @include flexbox();
    }
    &-image {
        @include size(11.5rem);
        border-radius: 50%;
        flex-shrink: 0;
        object-fit: cover;
    }
    &-info {
        
        padding-left: 3rem;
    }
    &-name {
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        font-weight: 500;
        color: $title_color;
    }
    &-job {
        display: inline-block;
        font-family: $secondary_font;
        font-style: italic;
        color: $text_color;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        position: relative;
        &::after {
            content: "";
            @include size(6.5rem, 5px);
            background-color: $primary_color;
            left:  0;
            bottom: 0;
            position: absolute;
        }
    }
    &-desc {
        line-height: 1.4;
        font-family: $secondary_font;
        color: $text_color;
        font-weight: 300;
    }
    @media screen and (max-width:1023px) {
        padding: 5rem 0 1rem;
        &-item {
            width: 100%;
            padding-bottom: 4rem;
        }
    }
    @media screen and(max-width:767px) {
        &-list {
            padding: 0;
            margin-top: 6rem;
        }
        &-image {
            @include size(8rem);
        }
        &-item {
            margin-bottom: 3rem;
        }
    }
}