$primary_color: #e98382;
$secondary_color: #eed889;
$third_color:#95e1d3;
$title_color:#333333;
$text_color: #999999;
$gray_color: #f8f8f8;
$gray_dark_color: #cccccc;
$gray_light_color: #f5f5f5;

$primary_font: 'Montserrat', sans-serif;
$secondary_font: 'Roboto', sans-serif;
$third_font : 'Kaushan Script', cursive;

$wrapper : 1920px;
$containe: 1200px;